:root {
    --primary: #faeee7;
    --secondary: #020826;
    --tertiary: #716040;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    color: var(--secondary);
    background-color: #faeee7;
    transition: 0.4s;
  }

  header {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem;
    
  }
  
  a {
    text-decoration: none;
    color: var(--secondary);
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 550;
  }

  a:hover {
    transition: 0.3s;
    color: var(--tertiary);
  }

  p {
    color: #f8e6dbaf;
    font-size: 15px;
    font-weight: 600;
    font-family: monospace;
  }

  ul {
    display: flex;
    position: absolute;
    padding: 2.4rem 18rem;
    gap: 2rem;

  }
  
  li {
    list-style-type: none;
  }

  header > h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  .divsection > h2 {
    font-size: 45px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  #div-signup {
    position: relative;
    margin-left: 1200px;
  }

  #div-signup li {
    width: 98px;
    display: flex;
    align-items: center;
  }

  #sectiontitle {
    position: relative;
    background-image: url(./assets/portadasection2.jpg);
    width: auto;
    height: 80vh;
    background-size: cover;
    background-position: center;
  }

  .divsection {
    width: auto;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 160px;
    gap: 1rem;
    position: absolute;
    margin-left: 1100px;
    margin-top: 100px;
  }

  .btnSection {
    width: 30%;
    padding: 10px;
    background: var(--primary);
    cursor: pointer;
    border-radius: 5px;
    color: #33272a;
    font-weight: 600;
    font-family: monospace;
    border: none;
    margin: 15px 50px;
  }
  
  .btnSection:hover {
    background-color: #f7dbca;
    transition: 0.4s;
    box-shadow: 2px 2px 6px 0px rgb(212, 169, 144);
  }

 #divphrase {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
 }

 .essentialphrase {
  color: #33272a;
  font-family: monospace;
 }

 #mainPhotos {
  background-image: url(./assets/maincenternw.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 60px 80px;
  height: 40vh;
  width: auto;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 15px;
 }

 .centralinfo {
  width: 510px;
  height: 200px;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
 }

 .centralinfo > p {
  margin: 10px;
  color: bisque;
 }

 .centralinfo > h3 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 700;
 }

 .minititle {
  font-family: monospace;
  font-weight: 600;
 }

 .btn-blank-register {
  width: 25%;
  padding: 10px;
  background: var(--primary);
  cursor: pointer;
  border-radius: 5px;
  color: #33272a;
  font-weight: 600;
  font-family: monospace;
  border: none;
 }

 .btn-blank-register:hover {
  background-color: #f7dbca;
  transition: 0.4s;
  box-shadow: 2px 2px 6px 0px rgb(212, 169, 144);
 }

 .sectionphotos {
  width: auto;
  display: flex;
  height: 60vh;
  justify-content: center;
  gap: 0.4rem;
 }

 .womanphoto {
  background-image: url(./assets/woman.jpg);
  background-size: cover;
  width: 400px;
  border-radius: 5px;
 }

 .womanphoto:hover {
  transform: scale(1.01);
  transition: 0.3s;
 }

 #womanbtn {
  align-items: center;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  display: flex;
  font-family: monospace;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
  text-decoration: none;
  text-transform: uppercase;
  outline: 0;
  border: 0;
  padding: 1rem;
}

#womanbtn:before {
  background-color: #fff;
  content: "";
  display: inline-block;
  height: 1px;
  margin-right: 10px;
  transition: all .42s cubic-bezier(.25,.8,.25,1);
  width: 0;
}

#womanbtn:hover:before {
  background-color: #fff;
  width: 3rem;
}

 .menphoto {
  background-image: url(./assets/men.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 400px;
  border-radius: 5px;
 }

 .menphoto:hover {
  transform: scale(1.01);
  transition: 0.3s;
 }

 #menbtn {
  align-items: center;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  display: flex;
  font-family: monospace;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
  text-decoration: none;
  text-transform: uppercase;
  outline: 0;
  border: 0;
  padding: 1rem;
}

#menbtn:before {
  background-color: #fff;
  content: "";
  display: inline-block;
  height: 1px;
  margin-right: 10px;
  transition: all .42s cubic-bezier(.25,.8,.25,1);
  width: 0;
}

#menbtn:hover:before {
  background-color: #fff;
  width: 3rem;
}

.sellers-title {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 30px;
  margin: 30px;
  width: auto;
  margin-left: 0px;
}


.woman-list-products {
  display: flex;
  width: auto;
  justify-content: center;
  margin-top: 50px;
}

.woman-list-products ul {
  gap: 4rem;
}

.woman-list-products li {
  display: flex;
  flex-direction: column;
  margin-top: 55px;
}


.woman-list-products img {
  height: 320px;
  width: 280px;
  border-radius: 10px;
}

.woman-list-products img:hover {
  transform: scale(1.03);
  transition: 0.5s;
  cursor: pointer;
}

.ul-woman-products {
  background-color: #f7dbca71;
  justify-content: center;
  align-items: center;
  width: 1600px;
  border-radius: 10px;
}

.ul-woman-products a {
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 10px;
}

.men-list-products {
  display: flex;
  width: auto;
  justify-content: center;
  margin-top: 50px;
}

.men-list-products ul {
  gap: 4rem;
}

.men-list-products li {
  display: flex;
  flex-direction: column;
  margin-top: 55px;
}


.men-list-products img {
  height: 320px;
  width: 290px;
  border-radius: 10px;
}

.men-list-products img:hover {
  transform: scale(1.03);
  transition: 0.5s;
  cursor: pointer;
}

.ul-men-products {
  background-color: #f7dbca71;
  justify-content: center;
  align-items: center;
  width: 1600px;
  border-radius: 10px;
}

.ul-men-products a,
span {
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 10px;
}

#products-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 13rem;
  margin-bottom: 50px;
  justify-items: center;
  align-content: center;
  width: auto;
  background-color: #fffcf9;
}

#products-list > li {
  justify-content: center;
  align-items: center;
  padding: 25px;
}



#products-list li > img {
  width: 340px;
  height: 340px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 2px solid rgba(250, 227, 198, 0.521);
  cursor: pointer;
}

#products-list li > img:hover {
  transform: scale(1.03);
  transition: 0.5s;
}


.div-product {
  background-color: white;
  border-radius: 2px 1px 5px 5px;
  margin-top: -10px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: 2px solid rgba(250, 227, 198, 0.521);
}

.div-product > h2,
span {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 2px;
  padding: 0.5rem;
}

.div-product > p {
  color: black;
  position: absolute;
  margin: -50px 480px;
  display: flex;
}

.div-product > h3 {
  margin-top: 5px;
}

.btn-product {
  padding: 15px;
}

.btn-product > button {
  background-color: rgb(255, 241, 222);
  border-radius: 20px;
  width: 70px;
  height: 35px;
  border: none;
  cursor: pointer;
  font-weight: 600;
}

.btn-product > button:hover {
  border: 2px solid #f7dbca;
}

#filter {
  background-image: url(./assets/background.jpg);
  width: 400px;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

#filter-list {
  background-color: #f7dbca54;
  width: 270px;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  margin: 20px;
  border-radius: 10px;
}


#gender > button {
  width: 100px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid rosybrown;
  font-weight: 600;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  cursor: pointer;
}

#gender > button:hover {
  background-color: #fdede3;
  transition: 0.5s;
}

#price-input {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

#price-input > label {
  letter-spacing: 3px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 18px;
  border-radius: 5px;
}

#price-input > input {
  padding: 5px;
  border-radius: 5px;
  border: none;
}

#price-input > button {
  border: 1px solid antiquewhite;
  border-radius: 6px;
  padding: 6px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  cursor: pointer;
}

#brand {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
}

#brand > label {
  font-size: 18px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  letter-spacing: 3px;
}

#brand > select {
  border-radius: 8px;
  padding: 10px;
  border: 1px solid antiquewhite;
}


#seller-brands {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
}

#seller-brands > label {
  font-size: 18px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  letter-spacing: 3px;
}

#seller-brands > select {
  border-radius: 8px;
  padding: 10px;
  border: 1px solid antiquewhite;
}


#mL > h3{
  font-size: 18px;
  letter-spacing: 2px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#mL > button {
  border: 1px solid antiquewhite;
  border-radius: 6px;
  padding: 6px;
  margin: 10px;
  cursor: pointer;
}

#mL > button:hover {
  background-color: #fdede3;
  transition: 0.5s;
}

#mL > h3 {
  margin-left: 50px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  letter-spacing: 5px;
}

.our-perfumes {
  height: 25vh;
  width: auto;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 60px;
}

.our-perfumes ul li > h2 {
  color: black;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.our-perfumes ul li > span {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 600;
  color: #33272a;
}

.resumen-perfumes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 4rem;
  justify-content: center;
  align-items: center;
}

.resumen-perfumes > li {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.perfume-icon {
  margin-top: 20px;
}


footer {
  width: auto;
  height: 40vh;
  background-color: rgba(143, 142, 142, 0.267);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.footer-top > h1 {
  font-family: 'Courier New', Courier, monospace;
}

.line-footer > hr {
  background-color: rgba(0, 0, 0, 0.568);
  height: 3px;
  width: 700px;
}

.footer-bot {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.ul-bot > li {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
  font-size: 16px;
  color: #33272ad3;
}

.ul-bot > li:hover {
  cursor: pointer;
}

.footer-termns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.termins > span {
  color: #33272a83;
  font-size: 18px;
  font-weight: 700;
  font-family: 'Courier New', Courier, monospace;

}

.footer-termns > p {
  color: #33272a83;
}

.footer-media {
  justify-content: center;
  align-items: center;
}

.footer-media > a {
padding: 10px;
text-decoration: none;
}



.footer-media > a:hover {
  cursor: pointer;
}

.termins {
  display: flex;
}





