:root {
    --primary: ;
    --secondary: ;
    --tertiary: ;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    color: var(--secondary);
    background-color: #faeee7;
    transition: 0.4s;
  }






